@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin sitefont {
  font-family: "Source Sans Pro", sans-serif;
  font-size: $fsize;
  line-height: $fsize + 5;
  font-weight: 400;
  letter-spacing: 0;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

//mixins for devices responsive
@mixin minMax($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@mixin min($min) {
  @media (min-width: $min) {
    @content;
  }
}

@mixin max($max) {
  @media (max-width: $max) {
    @content;
  }
}
