@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.flight {
  font-weight: 300;
}

.fbold {
  font-weight: 600;
}

.fwhite {
  color: #fff;
}

.fblue {
  color: #1c95ef;
}

.questionSection {
  padding: 25px 0;
}

.questionSection .qBlock {
  background: #6fb744;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  min-height: 120px;
}

.questionSection .qdesc {
  background: #c4e2b2;
  padding: 20px;
  border-radius: 10px;
}

.questionSection .optionCol {
  background: #c4e2b2;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .questionSection .optionCol {
    margin-bottom: 15px;
  }
}

.questionSection .optionCol img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */