@import "mixins";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  @include sitefont;
}
.customContainer {
  width: 90%;
  margin: 0 auto;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 600;
}
.fwhite {
  color: $white;
}
.fblue {
  color: $blue;
}
//main styles
.questionSection {
  padding: 25px 0;

  .qBlock {
    background: $green;
    padding: 10px;
    border-radius: 10px;
    color: $white;
    min-height: 120px;
  }
  .qdesc {
    background: lighten($green, 30%);
    padding: 20px;
    border-radius: 10px;
  }
  .optionCol {
    background: lighten($green, 30%);
    padding: 15px;
    border-radius: 10px;
    text-align: center;

    @include max($lg) {
      margin-bottom: 15px;
    }

    img {
      height: 240px;
      object-fit: cover;
      display: block;
      margin: 0 auto;
    }
  }
}
